// colors

$primary-color: #ff9b71;
$secondary-color: #fffd82;
$accent-color: #ed217c;
$background-color: #1b2021;
$background-color-2: #2d3047;
$background-color-3: rgba(128, 128, 128, 0.664);
$title-color: #869845;
$verdeAgua-color: #11bead;
$white: #eee;
$white2: #ffffff;
$black: #111;
$dorado: #bfa14f;
$shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
  1px -1px 1px #000;
$shadow2: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333,
  1px 1px 1px #333;
$shadow3: -2px -2px 1px #000;
