@use '../variables/variables' as *;

.footer-content {
  background: $black;
  height: 30vh;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 30px;
  color: $white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.3;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  min-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  word-spacing: 0.6rem;
}

.footer-content .material-icons-outlined {
  font-size: 18px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: $white;
}

.socials a i {
  font-size: 3rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: $background-color-3;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
