@use '../variables/variables' as *;

.header__container {
  background-color: $background-color-2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;

  &__logo {
    transition: all 0.4s ease-in-out;

    &:hover {
      color: yellowgreen;
    }
  }

  &__nav {
    display: flex;
    gap: 4rem;
    margin-left: 1rem;
    &--link {
      transition: all 0.4s ease-in-out;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
